doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Microservices

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Microservices
        h2 A practical approach

      section

        h1 Micro<strike>services</strike>Apps
        h2 A practical approach

      section
        b Your flight captains for the next couple of minutes:
        br
        h2 Dominik Schmeiser
        p Application Developer<br> @ develop4edu GmbH Stuttgart
        br
        h2 Felix Peters
        p Application Developer<br> @ develop4edu GmbH Stuttgart


      section
        h2 Status Quo
        img(src="images/MicroApps_1.png", width="90%")

      section
        h2 Microservices
        img(src="images/MicroApps_2.png", width="90%")

      section
        h2 MicroApps
        img(src="images/MicroApps_3.png", width="90%")
      section
        h2 Routing
        img(src="images/MicroApps_3.png", width="90%")
      section
        h2 SSO - Usermanagement
        img(src="images/MicroApps_3.png", width="90%")
      section
        h2 Shared Code
        img(src="images/MicroApps_3.png", width="90%")

      section
        h2 Pitfalls
        ul
          li One big API-App
          li Bundles can be hell
          li Session

      section
        h1 JUST DO IT!

    script(src='build/build.js')
